* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* NAVBAR CSS */
body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #141414;
	font-family: Arial, sans-serif;
	height:100%;
	margin: 0;
	padding: 0;
}

.navbar {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
	position: sticky;
	top: 0;
	z-index: 69;
	background-color: #141414;
}

.left-nav {
	display: flex;
	align-items: center;
}

.navbar-brand {
	color: #c41e3a;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	transition: color 0.3s ease;
}

.navbar-brand:hover {
	color: #8b0000;
}

.right-nav {
	display: flex;
}

.nav {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-link {
	color: #696969;
	text-decoration: none;
	padding: 10px 15px;
	transition: background-color 0.3s ease, color 0.3s ease;
	border-radius: 5px;
}

.nav-link:hover {
	background-color: #e9ecef;
	color: #c41e3a;
}
.nav-link:focus {
  color: unset;
}
@media ( max-width : 768px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}
	.right-nav {
		margin-top: 10px;
	}
	.nav {
		flex-direction: column;
	}
	.nav-link {
		padding: 10px 0;
	}
}

/* FOOTER CSS */
footer {
	display: flex;
	align-items: flex-end;
}