<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:insert="~{fragments/header.html}"></th:block>
<link rel="stylesheet" type="text/css" href="/css/theater-signup.css">
<link rel="stylesheet" type="text/css" href="/css/nav-foot.css">
<title>Insert title here</title>
</head>
<body>
	<th:block th:insert="~{fragments/navbar}"></th:block>
	<form class="row g-3" action="/theater/signup" method="post" th:object="${theater}" autocomplete="on">
	<h2>Theater Registration</h2>
		<div class="col-md-4">
			<div class="form-input">
				<label for="validationDefault01" class="form-label">Name</label> 
				<input type="text" name="name" class="form-control" id="validationDefault01" th:field="*{name}">
			</div>
			<span th:errors="*{name}"></span>
		</div>
		<div class="col-md-4">
			<div class="form-input">
				<label for="validationDefault02" class="form-label">Mobile</label> 
				<input type="tel" name="mobile" class="form-control" id="validationDefault02" th:field="*{mobile}">
			</div>
			<span th:errors="*{mobile}"></span>
		</div>
		<div class="col-md-4">
			<div class="form-input">
				<label for="validationDefaultUsername" class="form-label">Email</label>
				<input type="text" name="email" class="form-control" id="validationDefaultUsername" th:field="*{email}" aria-describedby="inputGroupPrepend2" >
			</div>
			<span th:errors="*{email}"></span>
		</div>
		<div class="col-md-4">
			<div class="form-input">
				<label for="validationDefault03" class="form-label">Password</label>
				<input type="password" name="pass" class="form-control" id="validationDefault03" >
			</div>
			<span th:errors="*{pass}"></span>
		</div>
		<div class="col-md-4">
			<div class="form-input">
				<label for="validationDefault04" class="form-label">Confirm Password</label> 
				<input type="password" name="cnfPass" class="form-control" id="validationDefault04" >
			</div>
			<span th:errors="*{cnfPass}"></span>
		</div>
		<div class="col-md-4">
			<div class="form-input">
				<label for="validationDefault06" class="form-label">Licence Number</label> 
				<input type="text" name="licenceno" class="form-control" id="validationDefault06" th:field="*{licenceno}">
			</div>
			<span th:errors="*{licenceno}"></span>
		</div>
		<div class="col-md-4">
			<div class="form-input">
				<label for="validationDefault05" class="form-label">Address</label>
				<textarea rows="3" cols="35" name="address" id="validationDefault05" th:field="*{address}"></textarea>
			</div>
			<span th:errors="*{address}"></span>
		</div>
		<div class="col-12 btn">
			<button class="btn btn-primary">Sign Up</button>
			<button class="btn btn-danger" type="reset">Reset</button>
		</div>
	<div class="add-link">
		<label>If you Don't Have Customer Account ?</label> 
		<a href="/customer/signup">Click Here</a>
	</div>
	</form>
</body>
</html>